<header class="header">
	<div class="info">
		<a href="/">
			<img src="/assets/images/avatar.png" alt="" class="avatar"/>
		</a>
		<h1 class="info-name">{{site.author_name}}</h1>
		<!-- <ul class="socials">
			<li>
				<a href="http://weibo.com/u/{{ site.weibo_id }}">
					<span class="icon-sina-weibo"></span>
				</a>
			</li>
			<li>
				<a href="http://github.com/{{ site.github_username }}">
					<span class="icon-github"></span>
				</a>
			</li>
			<li>
				<a href="http://twitter.com/{{ site.twitter_username }}">
					<span class="icon-twitter"></span>
				</a>
			</li>
		</ul> -->
	</div>
</header>
